.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  padding: 16px;
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }

  p {
    font-size: 0.9rem;
    color: #666;
  }

  button {
    margin-top: 8px;
    padding: 8px 16px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #005bb5;
    }
  }
}

.loadMoreContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.loadMoreButton,
.createPostButton {
  padding: 8px 16px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  text-align: center;

  &:hover {
    background-color: #005bb5;
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

.homePageContainer {
  height: 100%;
  width: 100%;
  padding: 20px 20px;
}

.searchContainer {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}
.searchBoxIconContainer {
  position: relative;
}

.searchIcon {
  position: absolute;
  left: 12.5px;
  top: 12.5px;
}

.searchInput {
  padding: 10px 10px 10px 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.noPostsMessage {
  text-align: center;
  font-size: 1.2rem;
  color: #666;
  margin-top: 20px;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.postsContainer {
  display: flex;
  flex-direction: column;
}

.createPost {
  display: flex;
  justify-content: end;
  align-items: end;
  margin-bottom: 20px;
}
